* {
  box-sizing: border-box;
}
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  color: #444;
}

body {
  background-color: #f2f2f2;

}

.mainPizzaContent {
  background-color: white;
  margin: 0px auto 150px auto;
  padding-top: 50px;
  width: 70%;
  height: auto;
  padding: 3% !important;

}

.header {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #ce2c38;
  text-align: center;
  position: relative;
  top: 70px;
  /*line-height: 150px;
  display: relative;*/
}

.whiteText {
  color: white;
  padding: 35px 0 0 5px;
  font-size: 37px;
  display: block;
}
.blackText {
  display: block;
  font-size: 25px;
  position: relative;
  bottom: 10px;
  color: black;
}
.main {
  padding: 60px;
}

.date {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  border-bottom: solid black 1px;
  padding: 10px 0;
  font-size: 35px;

}
p {
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  margin: 0
}
.price {
  text-align: right;
  float: right;
}
h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #ce2c38;
  font-size: 25px;
  display: inline-block;
}

h4 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

h2 span {
  padding: 10px;

}
h2 span:hover {
  cursor: pointer;
}

i {
  display: inline-block;
  padding: 5px;
  font-size: 30px;

}

i:hover {
  cursor: pointer;
}

input {
  padding: 5px;
}

button {
  padding: 7px;
}
